/*Base*/
*{
	font-family: "Manrope", sans-serif;
}
.body{
	display: grid;
}
.mobileBody{
	background: #FFFFFF;
	margin: auto;
	max-width: 450px;
}
/*Header*/
header{
	display: flex;
 	justify-content: space-between;
 	align-items: end;
}
.logo{
	height: 63px;
	width: 240px;
}
.burger{
	height: 45px;
	width: 45px;
}

/*Promo*/
.promo{
	position:relative;
	width: 100%;
	aspect-ratio: 1 / 1;
	border-radius: 38px;
	border-top-left-radius: 0px;
	background-image: url("promobg.png");
}

.promo h1{
	color: white;
	padding: 5%;
}
.promo p{
	color: white;
	padding: 5%;
}

.promo a{
	font-size: 20px;
	position: absolute;
	bottom: 5%;
	margin-left: 5%;
	border-radius: 10px;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: #FF4F12;
	color: white;
}

/*advantages*/
.advantages{
	justify-content: space-between;
	display: grid;
	grid-template-columns: 67.5% 30%;
}
.timings{
	display: flex;
	align-items: center;
	margin-top: 15px;
	border-radius: 38px;
	text-align: center;
	border: solid 4px #FF4F12;
}
.timings p{
	margin-left: auto;
	margin-right: auto;
}
.speed{
	display: flex;
	align-items: center;
	margin-top: 15px;
	aspect-ratio: 1 / 1;
	color: white;
	border-radius: 38px;
	text-align: center;
	background: #FF4F12;
}
.speed p{
	margin-left: auto;
	margin-right: auto;
}

/*tarrifs*/
.tarif-card{
	padding-bottom: 5%;
	border-radius: 18px;
	color: white;
	width: 100%;
	height:;
	background: linear-gradient(#7700FF, #470099);
}
.tarif-card p, h1{
	padding: 5%;
}
.tarif-card-btn{
	color: white;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 10px;
	border: solid 1px white;
	margin-left: 5%;
	margin-bottom: 10px;
}
.tarif-card-btn:hover{ 
	transition: 0.5s ease-in-out;
	color: #7700FF;
	background: white;
}
/*bottom promo*/
.bottom-promo h1{
	padding-left: 0px;
}
.bottom-promo a{
	color: white;
	background: #7700FF;
	text-decoration: none;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
}

/*form*/
.form-input{
	height: 50px;
	width: 100%;
}
.form-btn{
	height: 50px;
	width: 100%;
	color: white;
	background: #7700FF;
}

/*footer*/
footer{
	display: flex;
	align-items: center;
	text-align: center;
	height: 150px;
	color: white;
	background: #443E3E;
}
footer p{
	margin-left: auto;
	margin-right: auto;
}

/*media request*/
@media screen and (max-width: 375px){
	.promo{
		font-size: 14px;
	}
	.advantages{
		font-size: 13px;
	}
}
